.App {
  text-align: center;
}

.brand-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #c084f5;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.brand-logo .dot {
  color: white;
}

.brand-logo:hover {
  color: white;
  text-shadow: 0 0 10px #c084f5;
  transform: scale(1.05);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
